/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  zoom: 1;
}
/*               End of Setup             */

* {
  box-sizing: border box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6%;
  background-color: rgb(61, 59, 59);
  color: white;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: "Myriad Set Pro", sans-serif;
}

@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}

.iphone13pro {
  display: block;
  text-align: center;
  font-size: 400%;
  margin-top: 2%;
  color: rgb(61, 59, 59);
  font-weight: 700;
}

.space {
  display: block;
  margin-top: -10%;
  text-align: center;
  font-size: 300%;
  background-size: cover;  
  background-position: center;
  width: 100%;
  height: 700px;
  display: block;
  background-image: url("images/hero_iphone_13pro.jpg");
}

.OhSoPro {
  display: block;
  text-align: center;
  font-size: 200%;
  margin-top: 2%;
  color: rgb(61, 59, 59);
}


.learnmore, .buy {
  margin: 1%;
  font-size: 170%;
  text-align: center;
  color: rgb(99, 109, 255);
  
}

container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.heroiphone {
  width: 100%;
  height: 400px;
  object-fit: cover;
}


.largeproducts {
  display: flex;        /* Bilder in einer Reihe */
  gap: 1px;            /* Abstand zwischen Bildern, optional */
}

.largeproducts img {
  object-fit: cover;    /* Bild füllt Box */
  width: 25%;           /* 4 Bilder = 25% jeder */
  height: 200px;        /* Höhe der Bilder */
}

.acwallplug {
  display: block;
  text-align: center;
  margin: 4%;
  color: rgb(60, 129, 158);
  font-size: 130%;
}

footer {
  background-color: rgba(128, 128, 128, 0.13);
}

.greylist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(61, 59, 59);
}

li {
  margin: 8%;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.waystoshop {
  color: grey;
  margin-left: 3%;
  margin-top: 3%;
}

.bottom {
  display: inline-block;
  color: grey;
  width: 100%;
}

small {
  margin-left: 3%;
  margin-right: 3%;
}

.divider {
  margin-bottom: 1%;
  margin-top: -3%;
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.436);
}

.waystoshop {
  margin-bottom: 4%;
}